button {
    background-color: rgb(23, 81, 255);
    color: white;
    padding: 10px 20px;
    text-align: center;
    border-radius: 5px;
    border: none;
    margin-bottom: 10px;
}

button:disabled {
    opacity: 0.5;
}

input {
    display: block;
    margin-bottom: 20px;
    width: 40%;
}

.small-lable {
    display: block;
    margin-top: 10px;
    font-weight: 300;
    font-size: 11px;
    margin-bottom: -2px;
}

.red {
    color: red;
}